.App{
  text-align: left;
}
.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.comments-container {
  margin-top: 40px;
  text-align: left;
}

.comment-form-title {
  font-size: 22px;
  text-align: left;
}

.comment-form-textarea {
  width: 50%;
  height: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid rgb(46, 5, 5);
}

.comment-container {
  height: 50px;
  position: relative;
  color: white;
}
.comment-button-center{
  margin: 0;
  position: absolute;
  top: 5%;
  left: 16%;
  

}

.comment-form-button {
  font-size: 19px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 10px;
  color: white;

}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(31, 185, 51);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 19px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 19px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}
