body.page_about
#background-banner{
    margin-top: -2.5em;
    min-height: 250px;
    background-color: #f24c4b
}
header {
    position: relative;
    width: 100%;
    text-align: center;

}
header .header-content {
    position: absolute;
    top: 30%;
    padding: 0 50px
}
header .header-content{
    width: 100%;
    text-align: center;
}
header .header-content .header-content-inner {
    margin-right: auto;
    max-width: 800px;
}
body .page_about #background-banner h1 {
    color: white;
    text-transform: unset;
    font-family: "Open sans";
    text-shadow: none;
}
head .header-content .header-content-inner h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4em;
}
body .page_about .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-rows: 1fr;
}
body .page_about
.grid .grid-item.content-text {
    padding: 40px 60px 40px 60px;
    font-family: "Open Sans";
}
body .page_about .grid-item {
    grid-column: span 2;
    min-height: unset;
}
body .page_about .grid .grid-item h2 {
    font-weight: bold;
    margin: 0 0 30px;
}
h2, .h2{
    font-size: 30px;
}
p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}
body .page_about .grid .grid-item.content.image.image-1{
    background-image: url("/src/city.jpg");
}
body .page_about .grid .grid-item.content-image{
    background-position: left center;
    background-repeat: no-repeat;
}
body .page_about .grid .grid-item{
    min-height: 400px;
    grid-column: span 1;
}
body .page_about .grid .grid-item.content-image.image-2{
    background-image: url("/src/city.jpg")
}
 